<div class="container-fluid">
  <div class="col-4" id="sticky-side">
    <img src="assets/photo.png" alt="Picture of Violeta" id="photo">
    <h1>Violeta Petkovic</h1>
    <h2>Junior Full Stack Developer</h2>
    <div class="btn-container">
      <button type="button" class="btn btn-outline-light">Download CV</button>
      <button type="button" class="btn btn-light">Contact Info</button>
    </div>


    <div class="navbar">
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#stack">Stack</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#certifications">Certifications</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    <p>
      b <br>
      b <br>
      b <br>
      b <br>
      b <br>
      b <br>
    </p>
    <div class="links">
      <i class="fa-brands fa-github"></i>
      <span><i class="fa-brands fa-linkedin"></i></span>
    </div>
  </div>

  <div class="col-8" id="main-content">
    <section id="about" class="pt-2">
      <div>
        <h3 class=mb-0">Hello, nice to meet you!</h3>
        <div class="mb-4">
          <p>I’m an aspiring Junior Full Stack Developer passionate about building the bridge between well performing backend code and intuitive frontend design to make seamless, user-focused applications come to life. Recently, I completed an intensive coding bootcamp, where I learned my skills in technologies like Ruby, JavaScript, and modern frameworks to build applications that are both visually engaging and highly functional.</p>
        </div>
        <div class="mb-4">
          <p>Before transitioning into tech, I gained valuable experience in project management and office leadership roles. These positions equipped me with strong organizational, problem-solving, and interpersonal skills – qualities that complement my technical knowledge and support my career switch.
          I’m excited to continue growing in full-stack development, embracing new challenges, and contributing to innovative solutions in this dynamic field.
          </p>
        </div>
        <div class="mb-4">
          <p class="mb-0"><em>My ultimate goal? </em></p>
          <p>To keep growing professionally, solve meaningful problems, and one day become a true coding-goddess.</p>
        </div>
        <div class="mb-4">
          <p>Now that I’ve made my future plans sound inspiring, let me gracefully transition back into the pigeon. Because in my spare time, you’ll find me wobbling through new yoga poses (occasionally falling over), crocheting gifts for loved ones or on my next travel adventure to explore nature and find delicious local snacks along the way.</p>
        </div>
      </div>
    </section>

    <section id="stack">
      <% @skills.in_groups_of(6).each do |group| %>
        <div class="row">
          <% group.each do |skill| %>
            <div class="card-skill">
              <%= image_tag "stack/#{skill.image}", alt: "#{skill.name} Logo" %>
              <em><%= skill.name %></em>
            </div>
          <% end %>
        </div>
      <% end %>
    </section>

    <section id="projects">
      <% @projects.each do |project| %>
        <%= link_to project_path(project), class: "card-project" do %>
          <%= image_tag project.thumbnail, alt: "#{project.title} Thumbnail" %>
          <div class="card-project-infos">
            <h2><%= project.title %></h2>
            <p><%= project.description %></p>
          </div>
        <% end %>
      <% end %>
    </section>

    <section id="certifications">
      <div class="carousel slide" id="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <aside class="certificates">
              <img src="https://media.licdn.com/dms/image/v2/C4E0BAQEMcw7g_5Et_A/company-logo_200_200/company-logo_200_200/0/1654683279384/le_wagon_logo?e=2147483647&v=beta&t=dpkAnw4bFfa9B7DnWxYJ0CzThzjO2NiqJkA3m7-FTFo" alt="Le Wagon Logo" class="cert-logo">
              <h3 class="institution">Le Wagon</h3>
              <p class="name">Certified Full Stack Web Developer</p>
              <p class="year"><em>2024/25</em></p>
            </aside>
          </div>

          <div class="carousel-item">
            <aside class="certificates">
              <img src="https://media.licdn.com/dms/image/v2/C4E0BAQGrtDX7HeJZuw/company-logo_200_200/company-logo_200_200/0/1639559596480/oldenburgische_ihk_logo?e=2147483647&v=beta&t=YygQQ-A9hydF5XwUOtRUVffaSgc-ugjhv-7IUOqWyes" alt="IHK Logo" class="cert-logo">
              <h3 class="institution">Chamber of Industry and Commerce (IHK)</h3>
              <p class="name">Level D Certificed Project Management Associate</p>
              <p class="year"><em>2023</em></p>
            </aside>
          </div>

          <div class="carousel-item">
            <aside class="certificates">
              <img src="https://media.licdn.com/dms/image/v2/C4E0BAQGrtDX7HeJZuw/company-logo_200_200/company-logo_200_200/0/1639559596480/oldenburgische_ihk_logo?e=2147483647&v=beta&t=YygQQ-A9hydF5XwUOtRUVffaSgc-ugjhv-7IUOqWyes" alt="IHK Logo" class="cert-logo">
              <h3 class="institution">Chamber of Industry and Commerce (IHK)</h3>
              <p class="name">Specialist for Rhethoric and Communication</p>
              <p class="year"><em>2024</em></p>
            </aside>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <section id="contact">
      <h3><em>Get in touch!</em></h3>
      <div class="contact-container">
        <div class="contact-info">
          <i class="fa-solid fa-envelope"></i>
          <p><a href="mailto:v.petkovic@protonmail.com">v.petkovic@protonmail.com</a></p>
        </div>
        <div class="contact-info">
          <i class="fa-brands fa-linkedin"></i>
          <a href="www.linkedin.com/in/violeta-petkovic">LinkedIn</a>
        </div>
      </div>
    </section>
  </div>
</div>
