<div class="container-fluid">
  <div class="col-10" id="project-content">
    <section id="overview" class="project-section">
      <div class="overview-container">
        <div class="project-details">
          <h1><%= @project.title %></h1>
          <p class="project-info"><em>Le Wagon, December 2024</em></p>
          <p class="project-description">
            StreamCaddy was my teams final project of the Le Wagon Bootcamp for which we got to use all the skills we have learned in the previous three months!
          </p>
          <div class="project-links">
            <a href="https://www.youtube.com/watch?v=Fpj2z70Srl8" target="_blank" class="video-link">
              <i class="fa-brands fa-youtube"></i>
              <span>Watch Demo</span>
            </a>
            <a href="https://github.com/VioletaPet/StreamCaddy" target="_blank" class="github-link">
              <i class="fa-brands fa-github"></i>
              <span>View Code</span>
            </a>
          </div>
        </div>
        <%= image_tag @project.thumbnail, alt: "#{@project.title} Thumbnail", class: "project-thumbnail" %>
      </div>
      <p>StreamCaddy is an innovative mobile application designed to simplify subscription management for avid streamers, addressing the common challenges of juggling multiple streaming platforms. By providing users with tools to track and optimize their subscriptions, the app helps them avoid unnecessary expenses while enhancing their viewing experience.</p>
      <p>Key features include:</p>
      <ul>
        <li>A fun Tinder-style game to capture user preferences, adding selected movies and TV shows to their watchlist</li>
        <li>Powered by the TMDB API to provide rich and up-to-date data on movies and TV shows</li>
        <li>Browsing capabilities for movies and TV shows, with detailed information such as synopses, seasons, cast, and reviews</li>
        <li>Personalized subscription management, allowing users to specify their current streaming platforms and decide how many they want to cancel or keep</li>
        <li>A dynamic watchlist schedule, that recommends which platforms to subscribe to and when, based on the user’s saved watchlist, ensuring cost savings and efficient viewing</li>
      </ul>
    </section>

    <section id="implementation" class="project-section">
      <h2>Implementation</h2>
      <div class="content-block">
        <p>StreamCaddy was built through effective teamwork and robust project management practices. We used Zoom for real-time communication and pair programming, Slack for sharing codes and notes and Trello to track tasks and progress. The TMDB API was central to providing up-to-date information on movies and TV shows, ensuring a rich browsing and watchlist experience. By combining these tools with our development skills, we created a cohesive and user-centric application that addresses a real-world need for streamers.</p>
      </div>
    </section>

    <section id="collaboration" class="project-section">
      <h2>Team Collaboration</h2>
      <div class="content-block">
        <p>Our team worked collaboratively to build the foundational structure of StreamCaddy. Together, we constructed the routes, models, and controllers, ensuring a robust and well-integrated backend. Additionally, we explored the TMDB API as a team to pinpoint the specific endpoints needed for our application. This joint effort allowed everyone to gain a solid understanding of the complex core of the application, fostering better collaboration and enabling us to tackle subsequent development tasks with confidence and clarity.</p>
      </div>
    </section>

    <section id="challenges" class="project-section">
      <h2>Challenges</h2>
      <div class="content-block">
        <ul>
          <li>Handling the vast amount of data from the TMDB API</li>
          <li>Identifying and using the correct endpoints to fetch necessary information</li>
          <li>Keeping an overview of the database consisting of 16 interconnected models, requiring careful planning for seamless integration and efficient data retrievel</li>
          <li>Navigating relationships between models</li>
          <li>First-time use of Cloudinary, integrating it wirh Active Storage to upload and host images</li>
          <li>Generating the personalized subscription schedule, aligning with the user watchlist</li>
          <li>Debugging and sticking to the deadline in two weeks time</li>
        </ul>
      </div>
    </section>

    <section id="deep-dive" class="project-section">
      <h2>Project Deep Dive</h2>

      <div class="feature-cards">
        <article class="feature-card" id="tinder-game">
          <h3>Tinder-style Game</h3>
          <div class="feature-content">
            <%= image_tag "streamcaddy/tindergame.jpeg", alt: "Tinder Game Feature", class: "feature-image" %>
            <div class="feature-description">
              <div class="border-box">
                <ul>
                  <li>Dynamic and interactive feature allowing users to swipe through a selection of movies and TV shows, choosing their preferences</li>
                  <li>Designed to be engaging and fun, creating an enjoyable experience and introducing users to new media</li>
                  <li>Preferences are saved to the user's watchlist, forming the foundation for their customized viewing recommendations</li>
                  <li>Developed by a teammate, combining ccreativity and technical expertise to craft a seamless and enjoyable discovery tool for users</li>
                </ul>
              </div>
            </div>
          </div>
        </article>

        <article class="feature-card" id="browsing-page">
          <h3>Browsing Page</h3>
          <div class="feature-content">
            <div class="feature-description">
              <div class="border-box">
                <ul>
                  <li>Central hub for browsing a vast selection of movies and TV shows</li>
                  <li>Media are showcased with their posters and titles, all dynamically fetched from the TMDB API</li>
                  <li>Option to add media to watchlist through the "+" button</li>
                  <li>Displayed streaming platforms subscribed by the user next to filter options, providing a quick overview of active services</li>
                  <li>Users can easily scroll through and explore available media</li>
                </ul>
              </div>
            </div>
            <%= image_tag "streamcaddy/browsing_page.jpeg", alt: "Browsing Page", class: "feature-image" %>
          </div>
        </article>

        <article class="feature-card" id="filtered-browsing-page">
          <h3>Filtered Browsing Page</h3>
          <div class="feature-content">
            <%= image_tag "streamcaddy/filtered_browse.jpeg", alt: "Filtered Browsing Page", class: "feature-image" %>
            <div class="feature-description">
              <div class="border-box">
                <p>The image demonstrates how users can refine their search by selecting specific categories</p>
                <ul>
                  <li>Possibility to streamline browsing experience and focus on content that matches the user's interests</li>
                  <li>This feature highlights the personalized nature of the application, ensuring users can afficiently find and access media they love</li>
                  <li>Developed by my teammates, this page showcases their expertise in designing and implementing intuitive and user-friendly browsing and filtering functionalities</li>
                </ul>
              </div>
            </div>
          </div>
        </article>

        <article class="feature-card" id="media-show-page">
          <h3>Media Show Page</h3>
          <div class="feature-content">
            <%= image_tag "streamcaddy/showpage1.jpeg", alt: "Media Show Page", class: "feature-image" %>
            <div class="feature-description">
              <div class="border-box">
                <p>This page provides a comprehensice and visually engaging overview of a selected movie or TV show</p>
                <ul>
                  <li>Essential information displayed on the very first page gives users a clear understanding of the media at a glance</li>
                  <li>The media's poster is prominently displayed, with a tab navigation bar allowing users easy access different sections such as synopsis, cast, reviews and seasons for TV show</li>
                  <li>To indicate where the media can be watched, the streaming provider's logo is displayed in the top right corner of the poster</li>
                  <li>A backdrop showcases a gallery of images from the media, offering an additional layer of immersion</li>
                </ul>
              </div>
            </div>
            <%= image_tag "streamcaddy/showpage2.jpeg", alt: "Media Show Page", class: "feature-image" %>
          </div>
        </article>

        <article class="feature-card" id="media-show-page2">
          <div class="feature-content">
            <div class="feature-description">
              <div class="border-box">
                <p>My contributions:</p>
                <ul>
                  <li>Sole responsibility for the complete development of the media show page, on the backend as well as frontend</li>
                  <li>Wrote the logic to fetch all the displayed data from the TMDB API, ensuring accurate and efficient integration of the vast dataset</li>
                  <li>Implemented the CRUD operations required for this page, enabling seamless data handling</li>
                  <li>Created an intuitive and visually appealing layout with the tab navigation and backdrop gallery</li>
                  <li>Coded the dynamic display of the streaming provider's logo </li>
                </ul>
              </div>
            </div>
            <video controls>
              <source src="/videos/showpage.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </article>

        <article class="feature-card" id="profile-page">
          <h3>Profile Page</h3>
          <div class="feature-content">
            <%= image_tag "streamcaddy/profile_page.jpeg", alt: "Profile Page", class: "feature-image" %>
            <div class="feature-description">
              <div class="border-box">
                <p>This page acts as the user's personal dashboard, consolidating essential information related to their streaming preferences and subscription management</p>
                <ul>
                  <li>Showcases the user's profile picture, username and logos of streaming platforms currently subscribed</li>
                  <li>Easy access to the user's watchlist and streaming platforms for adjustments</li>
                </ul>
                <p>My contributions:</p>
                <ul>
                  <li>Primarily focused on ensuring the accurate display of the logos for each subscribed streaming provider</li>
                </ul>
              </div>
            </div>
          </div>
        </article>

        <article class="feature-card" id="user-watchlist">
          <h3>User Watchlist</h3>
          <div class="feature-content">
            <div class="feature-description">
              <div class="border-box">
                <p>The watchlist is designed to highlight the user's curated list of movies and TV shows that are generated either through the Tinder-style game or by browsing.</p>
                <ul>
                  <li>Organized content based on user's preferences</li>
                  <li>Allos the users to maanage the movies and TV shows they have saved to watch later</li>
                  <li>Logic developed by a teammate who also designed the layout with intuitive buttons for deleting media and adding revies</li>
                </ul>
              </div>
            </div>
            <%= image_tag "streamcaddy/user_watchlist.jpeg", alt: "User Watchlist", class: "feature-image", id: "watchlist_image"%>
          </div>
        </article>

        <article class="feature-card" id="edit-providers">
          <h3>Editing Streaming Providers</h3>
          <div class="feature-content">
            <video controls>
              <source src="/videos/editing_providers.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <div class="feature-description">
              <div class="border-box">
                <p>This video showcases how users can edit their streaming providers via an intuitive interface they can access through their profile</p>
                <ul>
                  <li>By tapping on the provider logos, users can select or deselect the platforms</li>
                  <li>Once the providers are changed, both the profile page and the browse main page are automatically updated to reflect the changes</li>
                  <li></li>
                </ul>
                <p>The list of available user providers was sourced from the TMDb API, but rather than fetching all available providers, we limited the number of options to offer a curated selection</p>
                <p>My Contributions:</p>
                <ul>
                  <li>While my teammate was responsible for the frontend development, I focused on the backend, specifically implementing the CRUD operations for managing the user's selectec streaming providers</li>
                </ul>
              </div>
            </div>
          </div>
        </article>

        <article class="feature-card" id="schedule-generation">
          <h3>Generating Personalized Schedule</h3>
          <div class="feature-content">
            <div class="feature-description">
              <div class="border-box">
                <p>This video demonstrates how users can generate monthly personalized schedules based on the media in their watchlist</p>
                <ul>
                  <li>The key function of this feature is to help users determine which streaming platforms they should keep, cancle or subscribe in order to watch the content in their watchlist</li>
                </ul>
                <p>My contributions</p>
                <ul>
                  <li>Frontend: Designed the overall layout for the overall schedule as well as teh display for each month's schedule</li>
                  <li>Backend: Built the logic that automatically sorts the streaming provider logos into the categories keep, cancel or subscribe</li>
                </ul>
              </div>
            </div>
            <video controls>
              <source src="/videos/schedule_generation.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </article>
      </div>
    </section>

    <section id="wrap-up" class="project-section">
      <h2>Wrap-Up</h2>
      <div class="content-block">
        <p>StreamCaddy marked our second collaborative project as a team, completed within a two-week timeframe. Over this period, we saw significant progress in both our technical abilities and teamwork, particularly when compared to our first project, RentaPet. The project was structured into two focused phases: the first week dedicated to backend development, where we honed our skills in API integration and data modeling, and the second week focused on frontend development, where we applied our growing expertise in creating intuitive, user-friendly interfaces. Through consistent communication using tools like Slack, Zoom, and Trello, we maintained a well-organized workflow, which was essential for efficiently overcoming the challenges that arose. The experience reinforced the importance of collaboration, problem-solving, and adaptability. StreamCaddy stands as a reflection of our continuous improvement as a team. We are proud of the results achieved, particularly in user experience design and technical integration, and we look forward to applying the lessons learned in future projects.</p>
      </div>
    </section>

    <section id="contributions" class="project-section">
      <h2>My Contributions</h2>
      <div class="content-block">
        <ul>
          <li><strong>Developed the Media Show Page:</strong> Took ownership of both the backend and frontend for this page, including the logic to fetch and display data (e.g., episodes, seasons, cast, and synopsis) from the TMDB API</li>
          <li><strong>Designed Frontend Layout:</strong> Crafted an intuitive and visually appealing user interface with easy-to-navigate tabs, a backdrop gallery, and dynamic elements like genre displays and streaming provider logos</li>
          <li><strong>Implemented CRUD Operations:</strong> Developed the backend logic to handle data flow and ensure smooth integration between the database and the media show page</li>
          <li><strong>Contributed to Profile Page:</strong> Focused on the accurate display of streaming provider logos and contributed to the smooth user experience on the profile page</li>
          <li><strong>Backend Development for Editing Providers:</strong> Built CRUD operations for managing users' streaming provider preferences, ensuring the efficient handling of user data</li>
          <li><strong>Personalized Schedule Feature:</strong> Implemented both the frontend and backend for generating a dynamic, monthly schedule to optimize users’ streaming subscriptions based on their watchlist</li>
          <li><strong>Collaborative Teamwork:</strong> Worked closely with teammates to develop core features, troubleshoot challenges, and deliver a functional, cohesive product</li>
        </ul>
      </div>
    </section>
  </div>
</div>
